<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    aqui ficara a home
    {% if request.user.is_authenticated %}
    <h1>Olá, {{ request.user.username }}</h1>
    <form method="post" action="{% url 'user:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
    {% else %}
        <a href="{% url 'user:login' %}">Login</a>
    {% endif %}

</body>
</html>